body{
    overflow-x: hidden;
    -moz-overflow-x: hidden;
    -webkit-overflow-x: hidden;
  
    }
    /* IPHONE XR */
  @media only screen and  (max-width: 414px) {
    .container {
      display: grid;
      background-color: #333438;
      grid-gap:0px ;
      grid-template: 1100px 500px  / auto auto auto;
      grid-template-areas:
        "a1 a1 a1 a1 a1 a1"
        "a3 a3 a3 a3 a3 a3"
        "a3 a3 a3 a3 a3 a3"
        ;
    }
    
     /* Grid 1 */
     .textos_primeirogrid{
       margin-top: 00px;
       margin-left: -40%;
     }
     .para_casa{
       max-width: 300px;
       font-size: 21px;
     }
     /* Grid 2 */
     .ter_economia{
       margin-left: 1%;
     }
     .todos_textos{
       margin-left: 0%;
     }
     .frase{
       font-size: 22px;
       max-width: 300px;
       text-align: left;
       margin-left: 15%;
       margin-top: 0px;
     }    } 
      
    
    /* S20 ULTRA */
    @media only screen and  (max-width: 412px) {
      .container {
        display: grid;
        background-color: #333438;
        grid-gap:0px ;
        grid-template: 1000px 500px  / auto auto auto;
        grid-template-areas:
          "a1 a1 a1 a1 a1 a1"
          "a3 a3 a3 a3 a3 a3"
          "a3 a3 a3 a3 a3 a3"
          ;
      }
      
       /* Grid 1 */
       .textos_primeirogrid{
         margin-top: 00px;
         margin-left: -35%;
       }
       .para_casa{
         max-width: 300px;
         font-size: 21px;
       }
       /* Grid 2 */
       .ter_economia{
         margin-left: 1%;
       }
       .todos_textos{
         margin-left: 1%;
       }
       .frase{
         max-width: 300px;
         text-align: left;
         margin-left: 15%;
         margin-top: 0px;
       }
   }
    
     
    
    
    /* PIXEL 5 */
      @media only screen and  (max-width: 393px) {
       
      }
    
    /* IPHONE 12 PRO */
    @media only screen and  (max-width: 390px) {
      
  } 
    
    
    /* IPHONE SE */
      @media only screen and  (max-width: 375px) {
        .container {
          display: grid;
          background-color: #333438;
          grid-gap:0px ;
          grid-template: 1000px 500px  / auto auto auto;
          grid-template-areas:
            "a1 a1 a1 a1 a1 a1"
            "a3 a3 a3 a3 a3 a3"
            "a3 a3 a3 a3 a3 a3"
            ;
        }
        
         /* Grid 1 */
         .textos_primeirogrid{
           margin-top: 00px;
           margin-left: -35%;
         }
         .para_casa{
           max-width: 300px;
           font-size: 20px;
         }
         /* Grid 2 */
         .ter_economia{
           margin-left: 1%;
         }
         .todos_textos{
           margin-left: 2.5%;
         }
         .frase{
           max-width: 300px;
           text-align: left;
           margin-left: 15%;
           margin-top: 0px;
         }
      }
  
  
      /* Samsung s8+ */
        @media only screen and  (max-width: 360px) {
          .container {
            display: grid;
            background-color: #333438;
            grid-gap:0px ;
            grid-template: 1000px 500px  / auto auto auto;
            grid-template-areas:
              "a1 a1 a1 a1 a1 a1"
              "a3 a3 a3 a3 a3 a3"
              "a3 a3 a3 a3 a3 a3"
              ;
          }
          
           /* Grid 1 */
           .textos_primeirogrid{
             margin-top: 00px;
             margin-left: -38%;
           }
           .para_casa{
             max-width: 300px;
             font-size: 20px;
           }
           /* Grid 2 */
           .ter_economia{
             margin-left: 1%;
           }
           .todos_textos{
             margin-left: 2%;
           }
           .frase{
             max-width: 300px;
             text-align: left;
             margin-left: 10%;
             margin-top: 0px;
           }
        }
  
  
  /* GALAXY FOLD */
        @media only screen and  (max-width: 280px) {
          .container {
            display: grid;
            background-color: #333438;
            grid-gap:0px ;
            grid-template: 1100px 500px  / auto auto auto;
            grid-template-areas:
              "a1 a1 a1 a1 a1 a1"
              "a3 a3 a3 a3 a3 a3"
              "a3 a3 a3 a3 a3 a3"
              ;
          }
          
           /* Grid 1 */
           .textos_primeirogrid{
             margin-top: px;
             margin-left: -35%;
           }
           .para_casa{
             max-width: 200px;
             font-size: 18px;
           }
           /* Grid 2 */
           .ter_economia{
             font-size: 19px;
             margin-left: 1%;
           }
           .todos_textos{
             margin-left: 2.5%;
           }
           .frase{
             font-size: 18px;
             max-width: 300px;
             text-align: left;
             margin-left: 10%;
             margin-top: 0px;
           }
        
      
        }
    
    
       
