@media only screen and  (max-width: 1920px) {
  .container {
    display: grid;
    background-color: #333438;
    grid-gap: 0px;
    grid-template: 1100px   / auto;
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1"
      ;
  }
}
@media only screen and  (max-width: 1366px) {

.container {
  display: grid;
  background-color: #333438;
  grid-gap: 0px;
  grid-template: 1000px   / auto;
  grid-template-areas:
    "a1 a1 a1 a1 a1 a1"
    ;
}
}
@media only screen and  (max-width: 1330px) {
  
}
@media only screen and  (max-width: 1240px) {
 
}
@media only screen and  (max-width: 1170px) {
  
}
@media only screen and  (max-width: 1115px) {
  
}
@media only screen and  (max-width: 1091px) {

}
@media only screen and  (max-width: 1020px) {
 
}
  @media only screen and  (max-width: 940px) {
 
  
}
@media only screen and  (max-width: 925px) {
 
}

@media only screen and  (max-width: 890px) {


}
@media only screen and  (max-width: 845px) {
}
@media only screen and  (max-width: 758px) {
 
}
@media only screen and  (max-width: 750px) {
 
}
@media only screen and  (max-width: 730px) {

}
@media only screen and  (max-width: 700px) {
 
}

@media only screen and  (max-width: 690px) {
 
}
@media only screen and  (max-width: 650px) {
 
 
}
@media only screen and  (max-width: 620px) {
  .motivos_AVI{
    color: white;
    margin-top: 0px;
    width: 450px;
    text-align:justify;
    font-size: 1.0rem;
  }
  .visao_texto{
    color: white;
    margin-top: 0px;
    width: 450px;
    text-align: justify;
    font-size: 1.0rem;
  
  }
  .missao_texto{
    color: white;
    margin-top: 0px;
    width: 450px;
    text-align: justify;
    font-size: 1.0rem;
  } 
 
}
@media only screen and  (max-width: 575px) {
  

}
@media only screen and  (max-width: 568px) {
 
}

@media only screen and  (max-width: 520px) {

}




/* media */
@media only screen and  (max-width: 800px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 10vh;
      right: 0;
      width: 50vw;
      height: 70vh;
      background: #d2d2d2;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 1;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  